{% extends "header.html" %}

{% block title %} Registro de reservacion {% endblock %}

{% block content %}

<div class="container">
    
        {% for message in messages %}
        {% if 'correo_duplicado' in message.tags %}
        <div class="alert alert-primary m-3" role="alert">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        
        
        {% for message in messages %}
        {% if 'registro_ambos' in message.tags %}
        <div class="alert alert-success m-3" role="alert">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}

    <h1 class=" text-center m-3 ">Formulario de reservacion</h1>
    <div class="container border border-success-subtle p-5 m-3">
        <h3 class="text-center text-success border-bottom border-success"> Datos del usuario </h3>
        <form method="POST" action="">
            {% csrf_token %}

            <div class="row g-3 align-items-center m-1">
                <div class="col-auto">
                    <label class="form-label" for="nombres">Nombres:</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control " name="nombres" required>
                </div>
            </div>

            <div class="row g-3 align-items-center m-1">
                <div class="col-auto">
                    <label class="form-label" for="apellidos">Apellidos:</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control " name="apellidos" required>
                </div>
            </div>

            <div class="row g-3 align-items-center m-1">
                <div class="col-auto">
                    <label for="apellidos" class="form-label">Tipo de documento:<label>
                </div>
                <div class="col-auto">
                    <select class="form-select" name="tipo_documento" aria-label="Default select example" required>
                        <option value="" disabled selected>Selecciona una opcion</option>
                        <option value="Pasaporte">Pasaporte</option>
                        <option value="Cedula de identidad">Cedula de identidad</option>
                        <option value="Licencia de conducir">Licencia de conducir</option>
                    </select>
                </div>
            </div>

            <div class="row g-3 align-items-center m-1">
                <div class="col-auto">
                    <label class="form-label" for="numero_documento">Numero de documento:</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" type="text" name="numero_documento" pattern="[0-9]*"
                    inputmode="numeric"required>
                </div>
            </div>

            <div class="row g-3 align-items-center m-1">
                <div class="col-auto">
                    <label class="form-label" for="correo">Email: </label>
                </div>
                <div class="col-auto">
                    <input class="form-control" type="text" name="correo" required>
                </div>
            </div>
    </div>

    <div class="container border border-primary-subtle p-5 m-3">
        <h3 class="text-center text-primary border-bottom border-primary-subtle"> Datos de la reservacion</h3>

        <div class="row g-3 align-items-center m-1">
            <div class="col-auto">
                <label class="form-label" for="fecha">Fecha de la reservacion: </label>
            </div>
            <div class="col-auto">
                <input class="form-control" type="date" name="fecha" required>
            </div>
        </div>

        <div class="row g-3 align-items-center m-1">
            <div class="col-auto">
                <label class="form-label" for="tipo_reserva">Tipo de reservacion: </label>
            </div>
            <div class="col-auto">
                <select class="form-select" name="tipo_reserva" aria-label="Default select example" required>
                    <option value="" disabled selected>Selecciona una opcion</option>
                    <option value="Cena">Cena</option>
                    <option value="Almuerzo">Almuerzo</option>
                    <option value="Onces">Onces</option>
                    <option value="Cumpleaños">cumpleaños</option>
                    <option value="Ocasión especial">Ocasión especial</option>
                </select>
            </div>
        </div>

        <div class="row g-3 align-items-center m-1">
            <div class="col-auto">
                <label class="form-label" for="cantidad_personas">Cantidad de personas: </label>
            </div>
            <div class="col-auto">
                <input class="form-control" type="number" name="cantidad_personas" required>
            </div>
        </div>

        <div class="row g-3 align-items-center m-1">
            <div class="col-auto">
                <label class="form-label" for="descripcion">Descripcion y/o Observaciones: </label>
            </div>
            <div class="col-auto">
                <textarea class="form-control w-100" type="text" name="descripcion" required></textarea>
            </div>
        </div>
    </div>

    <button type="submit" class="mx-auto d-grid btn btn-primary">Registrar reservacion</button>
    </form>
</div>
{% endblock %}